<!--Credit Karl//-->
<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>TEMPLATE</title>
<link rel="stylesheet" href="./style.css">
<script src="//pull.cappuccicons.com/cpf.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
</head>
<body>
<!--Do not Remove-->
<div class="credit"><a href="https://xat.me/karl" title="XAT/KARL"><i class="cp cp-hp-golden-snitch"></i></a></div>
<!--Do not Remove-->
</body>
</html>
<!--Credit Karl//-->